$primaryColor_1: #171A21;
$primaryColor_2: #1B2838;
$primaryTextColor: #66C0F4;
$secondaryTextColor: rgba(102,192,244,0.5);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: $primaryColor_2;
	color: $primaryTextColor;
}

header,
footer {
	background-color: $primaryColor_1;
	color: $primaryTextColor;
    width: 100%;

}

header {
    position: absolute;
	top: 0px;
    height: 10%;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 5%;
}


