$primaryColor_1: #171A21;
$primaryColor_2: #1B2838;
$primaryTextColor: #66C0F4;
$secondaryTextColor: rgba(102,192,244,0.5);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
    width: 100%;
}

body {
	background-color: $primaryColor_2;
	color: $primaryTextColor;
    font-family: 'VT323', monospace;
    // display: inline-block;
}

#main_content {
    // border: black solid;
    width: 80%;
    height: 80%;
    margin: 20px auto 20px auto;
    block-size: fit-content;
    padding-bottom: 80px;
    // padding-top: 30px;
}

header,
footer {
	background-color: $primaryColor_1;
	color: $primaryTextColor;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:initial; 
}

header {
    // position: absolute;
	top: 0px;
    height: fit-content;
    // box-shadow: 0px 5px 15px 15px $primaryColor_1;

}

footer {
    position: fixed;
    bottom: 0px;
    height: fit-content;
    // box-shadow: 5px 0px 15px 15px $primaryColor_1;
}

#header_title {
    padding: 1rem;
}

#footer_cred {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_pic1 {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 20px;
}

.footer_pic2 {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}