* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1B2838;
  color: #66C0F4;
  font-family: 'VT323', monospace;
}

#main_content {
  width: 80%;
  height: 80%;
  margin: 20px auto 20px auto;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  padding-bottom: 80px;
}

header,
footer {
  background-color: #171A21;
  color: #66C0F4;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: initial;
}

header {
  top: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer {
  position: fixed;
  bottom: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#header_title {
  padding: 1rem;
}

#footer_cred {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_pic1 {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 20px;
}

.footer_pic2 {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

input:focus {
  outline: none;
}

form {
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gameName {
  background-color: #2A475E;
  color: #66C0F4;
  height: 30px;
  width: 250px;
  font-family: 'Press Start 2P', cursive;
  border: 3px inset rgba(102, 192, 244, 0.5);
}

::-webkit-input-placeholder {
  color: rgba(102, 192, 244, 0.5);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  text-align: center;
}

:-ms-input-placeholder {
  color: rgba(102, 192, 244, 0.5);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  text-align: center;
}

::-ms-input-placeholder {
  color: rgba(102, 192, 244, 0.5);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  text-align: center;
}

::placeholder {
  color: rgba(102, 192, 244, 0.5);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  text-align: center;
}

input[type=submit] {
  background-color: #171A21;
  color: #66C0F4;
  height: 30px;
  width: 100px;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  margin-left: 5px;
  padding: 2px;
  border: 3px outset rgba(102, 192, 244, 0.5);
}

input[type=submit]:active {
  border: 3px inset rgba(102, 192, 244, 0.5);
}

input[type=submit]:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */